APP_URL=
AUTH_TOKEN=
APP_ENV="development"
REVALIDATE_TOKEN=

NEXT_PUBLIC_CLARITY_PROJECT_ID=
NEXT_PUBLIC_TINYBIRD_HOST=your_tinybird_host # (e.g. api.tinybird.co)
NEXT_PUBLIC_TINYBIRD_TOKEN=your_tinybird_token