@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    /* from MyDS color.css */
    --_white: 255 255 255;
    --_black: 0 0 0;
    --_gray-50: 250 250 250;
    --_gray-100: 244 244 245;
    --_gray-200: 228 228 231;
    --_gray-300: 212 212 216;
    --_gray-400: 161 161 170;
    --_gray-500: 113 113 122;
    --_gray-600: 82 82 91;
    --_gray-700: 63 63 70;
    --_gray-800: 39 39 42;
    --_gray-850: 29 29 33;
    --_gray-900: 24 24 27;
    --_gray-930: 22 22 25;
    --_gray-950: 9 9 11;
  
    --_primary-50: 239 246 255;
    --_primary-100: 219 234 254;
    --_primary-200: 194 213 255;
    --_primary-300: 150 183 255;
    --_primary-400: 99 148 255;
    --_primary-500: 58 117 246;
    --_primary-600: 37 99 235;
    --_primary-700: 29 78 216;
    --_primary-800: 30 64 175;
    --_primary-900: 30 58 138;
    --_primary-950: 23 37 84;
  
    --_danger-50: 254 242 242;
    --_danger-100: 254 226 226;
    --_danger-200: 254 202 202;
    --_danger-300: 252 165 165;
    --_danger-400: 248 113 113;
    --_danger-500: 239 68 68;
    --_danger-600: 220 38 38;
    --_danger-700: 185 28 28;
    --_danger-800: 153 27 27;
    --_danger-900: 127 29 29;
    --_danger-950: 69 10 10;
  
    --_success-50: 240 253 244;
    --_success-100: 220 252 231;
    --_success-200: 187 247 208;
    --_success-300: 131 218 163;
    --_success-400: 74 222 128;
    --_success-500: 34 197 94;
    --_success-600: 22 163 74;
    --_success-700: 21 128 61;
    --_success-800: 22 101 52;
    --_success-900: 20 83 45;
    --_success-950: 5 46 22;
  
    --_warning-50: 254 252 232;
    --_warning-100: 254 249 195;
    --_warning-200: 254 240 138;
    --_warning-300: 253 224 71;
    --_warning-400: 250 204 21;
    --_warning-500: 234 179 8;
    --_warning-600: 202 138 4;
    --_warning-700: 161 98 7;
    --_warning-800: 133 77 14;
    --_warning-900: 113 63 18;
    --_warning-950: 66 32 6;
  }
  :root {
    --black-900: 21.03% 0.006 285.89; /* #18181B Zinc 900 */
    --black-800: 27.39% 0.005 286.03; /* #27272A Zinc 800 */
    --black-700: 37.03% 0.012 285.81; /* #3F3F46 Zinc 700 */
    --base-white: 100% 0 0; /* #FFFFFF White */
    --dim-500: 55.17% 0.014 285.94; /* #71717A Zinc 500 */
    --outline-400: 71.18% 0.013 286.07; /* #A1A1AA Zinc 400 */
    --outline-300: 87.11% 0.005 286.29; /* #D4D4D8 Zinc 300 */
    --outline-200: 91.97% 0.004 286.32; /* #E4E4E7 Zinc 200 */
    --washed-100: 96.74% 0.001 286.38; /* #F4F4F5 Zinc 100 */
    --background-50: 98.51% 0 0; /* #FAFAFA Zinc 50 */

    --brand-600: 54.61% 0.215 262.88; /* #2563EB Blue 600 */
    --brand-700: 48.82% 0.217 264.38; /* #1D4ED8 Blue 700 */
    --brand-300: 78.27% 0.11 265.07; /* #96B7FF */
    --brand-200: 87.26% 0.062 265.96; /* #C2D5FF */
    --brand-50: 97.05% 0.014 254.6; /* #EFF6FF Blue 50 */

    --success-300: 81.86% 0.115 155.16; /* #83DAA3 */
    --success-200: 92.5% 0.081 155.99; /* #BBF7D0 Green 200 */
    --success-50: 98.19% 0.018 155.83; /* #F0FDF4 Green 50 */

    --danger-300: 80.77% 0.103 19.57; /* #FCA5A5 Red 300 */
    --danger-200: 88.45% 0.059 18.33; /* #FECACA Red 200 */
    --danger-100: 93.56% 0.031 17.72; /* #FEE2E2 Red 100 */
    --danger-50: 97.05% 0.013 17.38; /* #FEF2F2 Red 50 */

    /* From MyDS light.css */
    /* Background - White */
  --bg-white: var(--_white);
  --bg-white-hover: var(--_gray-50);
  --bg-white-disabled: var(--_gray-100) / 0.4;

  /* Background - Washed */
  --bg-washed: var(--_gray-100);
  --bg-washed-active: var(--_gray-100);
  --bg-contrast: var(--_white);

  /* Background - Dialog */
  --bg-dialog: var(--_white);
  --bg-dialog-active: var(--_white);

  /* Background - Black */
  --bg-black-50: var(--_gray-50);
  --bg-black-100: var(--_gray-100);
  --bg-black-200: var(--_gray-200);
  --bg-black-300: var(--_gray-300);
  --bg-black-400: var(--_gray-400);
  --bg-black-500: var(--_gray-500);
  --bg-black-600: var(--_gray-600);
  --bg-black-700: var(--_gray-700);
  --bg-black-800: var(--_gray-800);
  --bg-black-900: var(--_gray-900);
  --bg-black-950: var(--_gray-950);
  --bg-black-disabled: var(--_gray-900) / 0.4;

  /* Background - Gray */
  --bg-gray-50: var(--_gray-50);

  /* Background - Primary */
  --bg-primary-50: var(--_primary-50);
  --bg-primary-100: var(--_primary-100);
  --bg-primary-200: var(--_primary-200);
  --bg-primary-300: var(--_primary-300);
  --bg-primary-400: var(--_primary-400);
  --bg-primary-500: var(--_primary-500);
  --bg-primary-600: var(--_primary-600);
  --bg-primary-700: var(--_primary-700);
  --bg-primary-800: var(--_primary-800);
  --bg-primary-900: var(--_primary-900);
  --bg-primary-950: var(--_primary-950);
  --bg-primary-disabled: var(--_primary-200);

  /* Background - Danger */
  --bg-danger-50: var(--_danger-50);
  --bg-danger-100: var(--_danger-100);
  --bg-danger-200: var(--_danger-200);
  --bg-danger-300: var(--_danger-300);
  --bg-danger-400: var(--_danger-400);
  --bg-danger-500: var(--_danger-500);
  --bg-danger-600: var(--_danger-600);
  --bg-danger-700: var(--_danger-700);
  --bg-danger-800: var(--_danger-800);
  --bg-danger-900: var(--_danger-900);
  --bg-danger-950: var(--_danger-950);
  --bg-danger-disabled: var(--_danger-200);

  /* Background - Success */
  --bg-success-50: var(--_success-50);
  --bg-success-100: var(--_success-100);
  --bg-success-200: var(--_success-200);
  --bg-success-300: var(--_success-300);
  --bg-success-400: var(--_success-400);
  --bg-success-500: var(--_success-500);
  --bg-success-600: var(--_success-600);
  --bg-success-700: var(--_success-700);
  --bg-success-800: var(--_success-800);
  --bg-success-900: var(--_success-900);
  --bg-success-950: var(--_success-950);
  --bg-success-disabled: var(--_success-200);

  /* Background - Warning */
  --bg-warning-50: var(--_warning-50);
  --bg-warning-100: var(--_warning-100);
  --bg-warning-200: var(--_warning-200);
  --bg-warning-300: var(--_warning-300);
  --bg-warning-400: var(--_warning-400);
  --bg-warning-500: var(--_warning-500);
  --bg-warning-600: var(--_warning-600);
  --bg-warning-700: var(--_warning-700);
  --bg-warning-800: var(--_warning-800);
  --bg-warning-900: var(--_warning-900);
  --bg-warning-950: var(--_warning-950);
  --bg-warning-disabled: var(--_warning-200);

  /* Text - White */
  --txt-white: var(--_white);
  --txt-white-disabled: var(--_white) / 0.4;

  /* Text - Black */
  --txt-black-900: var(--_gray-900);
  --txt-black-700: var(--_gray-700);
  --txt-black-500: var(--_gray-500);
  --txt-black-disabled: var(--_gray-600) / 0.4;

  /* Text - Primary */
  --txt-primary: var(--_primary-600);
  --txt-primary-disabled: var(--_primary-600) / 0.4;

  /* Text - Danger */
  --txt-danger: var(--_danger-600);
  --txt-danger-disabled: var(--_danger-600) / 0.4;

  /* Text - Success */
  --txt-success: var(--_success-700);
  --txt-success-disabled: var(--_success-700) / 0.4;

  /* Text - Warning */
  --txt-warning: var(--_warning-700);
  --txt-warning-disabled: var(--_warning-700) / 0.4;

  /* Outline - Divider */
  --otl-divider: var(--_gray-100);
  --otl-gray-200: var(--_gray-200);
  --otl-gray-300: var(--_gray-300);
  /* --otl-gray-600-20: var(--_gray-600) / 0.2; */

  /* Outline - Primary */
  --otl-primary-disabled: var(--_primary-200) / 0.4;
  --otl-primary-200: var(--_primary-200);
  --otl-primary-300: var(--_primary-300);
  /* --otl-primary-600-20: var(--_primary-600) / 0.2; */

  /* Outline - Danger */
  --otl-danger-disabled: var(--_danger-200) / 0.4;
  --otl-danger-200: var(--_danger-200);
  --otl-danger-300: var(--_danger-300);
  /* --otl-danger-600-20: var(--_danger-600) / 0.2; */

  /* Outline - Success */
  --otl-success-disabled: var(--_success-200) / 0.4;
  --otl-success-200: var(--_success-200);
  --otl-success-300: var(--_success-300);
  /* --otl-success-700-20: var(--_success-700) / 0.2; */

  /* Outline - Warning */
  --otl-warning-disabled: var(--_warning-200) / 0.4;
  --otl-warning-200: var(--_warning-200);
  --otl-warning-300: var(--_danger-300);
  /* --otl-warning-700-20: var(--_warning-700) / 0.2; */

  /* Ring - Primary */
  --fr-primary: var(--_primary-300) / 0.4;

  /* Ring - Danger */
  --fr-danger: var(--_danger-300) / 0.4;
  }

  .dark {
    --black-900: 100% 0 0; /* #FFFFFF White */
    --black-800: 96.74% 0.001 286.38; /* #F4F4F5 Zinc 100 */
    --black-700: 87.11% 0.005 286.29; /* #D4D4D8 Zinc 300 */
    --base-white: 21.03% 0.006 285.89; /* #18181B Zinc 900 */
    --dim-500: 71.18% 0.013 286.07; /* #A1A1AA Zinc 400 */
    --outline-400: 44.19% 0.015 285.79; /* #52525B Zinc 600 */
    --outline-300: 37.03% 0.012 285.81; /* #3F3F46 Zinc 700 */
    --outline-200: 27.39% 0.005 286.03; /* #27272A Zinc 800 */
    --washed-100: 23.24% 0.008 285.79; /* #1D1D21 */
    --background-50: 20.15% 0.006 285.86; /* #161619 */

    --brand-600: 54.61% 0.215 262.88; /* #2563EB Blue 600 */
    --brand-700: 65.63% 0.175 263.82; /* #588BFB */
    --brand-300: 42.44% 0.181 265.64; /* #1E40AF Blue 800 */
    --brand-200: 37.91% 0.138 265.52; /* #1E3A8A Blue 900 */
    --brand-50: 21.97% 0.06 268.56; /* #0F1836 */

    --success-300: 44.79% 0.108 151.33; /* #166534 Green 800 */
    --success-200: 39.25% 0.09 152.54; /* #14532D Green 900 */
    --success-50: 26.64% 0.063 152.93; /* #052E16 Green 950 */

    --danger-300: 44.37% 0.161 26.9; /* #991B1B or Red 800 */
    --danger-200: 39.58% 0.133 25.72; /* #7F1D1D or Red 900 */
    --danger-100: 25.75% 0.089 26.04; /* #450A0A or Red 950 */
    --danger-50: 19.68% 0.06 24.53; /* #2B0707 */

    /* From MyDS dark.css */
    /* bg - White */
  --bg-white: var(--_gray-900);
  --bg-white-hover: var(--_gray-800);
  --bg-white-disabled: var(--_gray-800) / 0.4;

  /* bg - Washed */
  --bg-washed: var(--_gray-850);
  --bg-washed-active: var(--_gray-800);
  --bg-contrast: var(--_gray-930);

  /* bg - Dialog */
  --bg-dialog: var(--_gray-850);
  --bg-dialog-active: var(--_gray-800);

  /* bg - Black */
  --bg-black-50: var(--_gray-950);
  --bg-black-100: var(--_gray-900);
  --bg-black-200: var(--_gray-800);
  --bg-black-300: var(--_gray-700);
  --bg-black-400: var(--_gray-600);
  --bg-black-500: var(--_gray-500);
  --bg-black-600: var(--_gray-400);
  --bg-black-700: var(--_gray-300);
  --bg-black-800: var(--_gray-200);
  --bg-black-900: var(--_white);
  --bg-black-950: var(--_white);
  --bg-black-disabled: var(--_white) / 0.4;

  /* Background - Gray */
  --bg-gray-50: var(--_gray-930);

  /* bg - Primary */
  --bg-primary-50: var(--_primary-950);
  --bg-primary-100: var(--_primary-900);
  --bg-primary-200: var(--_primary-800);
  --bg-primary-300: var(--_primary-700);
  --bg-primary-400: var(--_primary-600);
  --bg-primary-500: var(--_primary-500);
  --bg-primary-600: var(--_primary-400);
  --bg-primary-700: var(--_primary-300);
  --bg-primary-800: var(--_primary-200);
  --bg-primary-900: var(--_primary-100);
  --bg-primary-950: var(--_primary-50);
  --bg-primary-disabled: var(--_primary-950);

  /* bg - Danger */
  --bg-danger-50: var(--_danger-950);
  --bg-danger-100: var(--_danger-900);
  --bg-danger-200: var(--_danger-800);
  --bg-danger-300: var(--_danger-700);
  --bg-danger-400: var(--_danger-600);
  --bg-danger-500: var(--_danger-500);
  --bg-danger-600: var(--_danger-400);
  --bg-danger-700: var(--_danger-300);
  --bg-danger-800: var(--_danger-200);
  --bg-danger-900: var(--_danger-100);
  --bg-danger-950: var(--_danger-50);
  --bg-danger-disabled: var(--_danger-950);

  /* bg - Success */
  --bg-success-50: var(--_success-950);
  --bg-success-100: var(--_success-900);
  --bg-success-200: var(--_success-800);
  --bg-success-300: var(--_success-700);
  --bg-success-400: var(--_success-600);
  --bg-success-500: var(--_success-500);
  --bg-success-600: var(--_success-400);
  --bg-success-700: var(--_success-300);
  --bg-success-800: var(--_success-200);
  --bg-success-900: var(--_success-100);
  --bg-success-950: var(--_success-50);
  --bg-success-disabled: var(--_success-950);

  /* bg - Warning */
  --bg-warning-50: var(--_warning-950);
  --bg-warning-100: var(--_warning-900);
  --bg-warning-200: var(--_warning-800);
  --bg-warning-300: var(--_warning-700);
  --bg-warning-400: var(--_warning-600);
  --bg-warning-500: var(--_warning-500);
  --bg-warning-600: var(--_warning-400);
  --bg-warning-700: var(--_warning-300);
  --bg-warning-800: var(--_warning-200);
  --bg-warning-900: var(--_warning-100);
  --bg-warning-950: var(--_warning-50);
  --bg-warning-disabled: var(--_warning-950);

  /* Text - White */
  --txt-white: var(--_gray-900);
  --txt-white-disabled: var(--_gray-900) / 0.4;

  /* Text - Black */
  --txt-black-900: var(--_white);
  --txt-black-700: var(--_gray-300);
  --txt-black-500: var(--_gray-400);
  --txt-black-disabled: var(--_gray-400) / 0.4;

  /* Text - Primary */
  --txt-primary: var(--_primary-400);
  --txt-primary-disabled: var(--_primary-400) / 0.4;

  /* Text - Danger */
  --txt-danger: var(--_danger-400);
  --txt-danger-disabled: var(--_danger-400) / 0.4;

  /* Text - Success */
  --txt-success: var(--_success-500);
  --txt-success-disabled: var(--_success-500) / 0.4;

  /* Text - Warning */
  --txt-warning: var(--_warning-500);
  --txt-warning-disabled: var(--_warning-500) / 0.4;

  /* Outline - Divider */
  --otl-divider: var(--_gray-850);
  --otl-gray-200: var(--_gray-800);
  --otl-gray-300: var(--_gray-700);
  /* --otl-gray-600-20: var(--_gray-600) / 0.2; */

  /* Outline - Primary */
  --otl-primary-disabled: var(--_primary-800) / 0.4;
  --otl-primary-200: var(--_primary-800);
  --otl-primary-300: var(--_primary-700);
  /* --otl-primary-600-20: var(--_primary-600) / 0.2; */

  /* Outline - Danger */
  --otl-danger-disabled: var(--_danger-800) / 0.4;
  --otl-danger-200: var(--_danger-800);
  --otl-danger-300: var(--_danger-700);
  /* --otl-danger-600-20: var(--_danger-600) / 0.2; */

  /* Outline - Success */
  --otl-success-disabled: var(--_success-800) / 0.4;
  --otl-success-200: var(--_success-800);
  --otl-success-300: var(--_success-700);
  /* --otl-success-700-20: var(--_success-700) / 0.2; */

  /* Outline - Warning */
  --otl-warning-disabled: var(--_warning-800) / 0.4;
  --otl-warning-200: var(--_warning-800);
  --otl-warning-300: var(--_danger-700);
  /* --otl-warning-700-20: var(--_warning-700) / 0.2; */

  /* Ring - Primary */
  --fr-primary: var(--_primary-700) / 0.4;

  /* Ring - Danger */
  --fr-danger: var(--_danger-700) / 0.4;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    @apply bg-background text-foreground;
  }

  :focus:not(:focus-visible) {
    @apply outline-none;
  }

  details summary {
    list-style: none;
  }

  details summary::-webkit-details-marker {
    display: none;
  }
}

@layer utilities {
  .underline {
    text-decoration: underline;
    text-underline-position: from-font;
  }
}
